.Container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.Register, .Login {
    padding: 10px;   
    align-content: center;
}

div.Register, div.Login {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.Register label, div.Login label {
    text-align:right; 
}