.Container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.Register, .Login {
    padding: 10px;   
    align-content: center;
    justify-content: center;
}

.Register {
    padding-bottom: 20px;
}

div.Register, div.Login {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.Register label, div.Login label {
    text-align:right; 
}

.RegisterButton, .LoginButton {
    align-self: center;
}

.inputDanger {
    border: 3px solid rgb(168, 4, 4);   
}

.inputDanger::placeholder {
    color: rgb(168, 4, 4);
}